body{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

#rightbox{
    background-image: url(../../assets/image/login-pict.png);
    background-size: cover;
    filter: brightness(70%);
} 

#leftbox a{
    color: #023670;
}

#leftbox button{
    background-color: #023670;
}

.logintextbox{
    color: #023670;
}


