<IfModule !mod_rewrite.c>
    # If mod_rewrite is not enabled, handle 404 errors by redirecting to index.php
    ErrorDocument 404 /index.php
</IfModule>

<IfModule mod_rewrite.c>
    # Enable the Rewrite Engine
    RewriteEngine On

    # If the requested file or directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all requests to public/route.php
    RewriteRule ^(.*)$ public/route.php/$1 [QSA,L]
</IfModule>
