<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /  # Update this to the base directory of your application

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/route.php [L]
</IfModule>
