@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
    scroll-behavior: smooth !important;
}

body {
    line-height: 1.5;
    font-family: "Inter", 'Poppins' sans-serif !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: auto;
    height: fit-content;
    padding: 2rem 1.5rem;
}

.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #ddf2fd;
}
.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #ddf2fd;
    display: none;
}
.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}


.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active {
    border: none;
}

.navbar-brand {
    margin-left: 20px;
    margin-right: 50px;
}

.image-container {
    position: relative;
    height: 100vh;
}

.text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    padding: 0 1.5rem;
}

.text-over-image p {
    font-size: 1rem;
}

.nav-scroll-up {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}
.nav-scroll-down {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.text-over-image h1,
p {
    text-align: left;
}

.nav-menu {
    padding: 0 1.5rem;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
}

.nav-menu-active {
    transform: translateX(0);
}

nav.nav {
    padding: 0.5rem 0.5rem;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem 1rem;
    width: fit-content;
}

.footer {
    background: #053a64;
    position: relative;
    width: 100%;
    padding: 2rem 1.5rem;
}

.footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 1rem;
    margin: auto;
}

.footer-col {
    width: 100%;
    height: fit-content;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer p {
    color: #9ed6fb;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #9ed6fb;
    text-decoration: none;
    font-weight: 300;
    color: #9ed6fb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffff;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #ffffff;
}

.copyright {
    text-align: center;
    color: #ffffff;
    padding: 0 1.5rem;
}

#team {
    padding: 2rem 1.5rem;
    background-color: #074a8128;
}

#team .team-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

#about {
    height: fit-content;
    padding: 0 1.5rem;
}

#about p {
    margin-top: 1rem;
    font-size: 1rem;
}

#invitation {
    height: 20rem;
    padding: 0 0.5rem;
}

#feature {
    padding: 2rem 1.5rem;
}

button.hamburger-nav:focus {
    outline: none;
    border: none;
}

@media screen and (min-width: 768px) {

    nav.nav {
        padding: 0.5rem 2rem;
    }

    a.nav-link {
        font-size: 1.2rem;
    }

    .text-over-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        width: 75vw;
    }

    .wrapper {
        width: 75vw;
        padding: 3rem 0rem !important;
    }

    .wrapper h1 {
        margin-bottom: 1rem;
    }

    #about {
        padding: 3rem 0;
    }

    #about p {
        width: 75vw;
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    #feature {
        width: 75vw;
        padding: 3rem 0 !important;
    }

    .feature-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    #team {
        padding: 3rem 0;
        background-color: #074a8128;
    }

    #team .team-container {
        width: 75vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        margin-top: 1rem;
    }

    .footer {
        background: #053a64;
        padding: 3rem 0 0 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .copyright {
        padding: 3rem 0;
    }

    .footer .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: 75vw;
    }

    .footer-col {
        width: 20%;
    }
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}

main.main-container {
    width: 100%;
    position: relative;
}

.main-container .loans-content {
    margin-top: 5rem;
}

.main-container .loans-content .loans-heading {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.main-container .loans-content .loans-button-filter_sort {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.75rem;
}

.main-container .inventory-items-container {
    width: 100%;
    margin-bottom: 100px;
}

.main-container .inventory-items-container .inventory-item {
    width: 10rem;
    height: 13rem;
    border-radius: 0.5rem;
}

.main-container
    .inventory-items-container
    .inventory-item
    .inventory-item-name-data
    > strong:nth-child(2) {
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.main-container
    .inventory-items-container
    .inventory-item
    .inventory-item-button-container
    .inventory-item-button {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.75rem;
}

.main-container .loan-button-container {
    position: fixed;
    bottom: 0;
}

.main-container
    .inventory-items-container
    .inventory-item
    .inventory-item-button-container
    .btn-counter {
    width: 2.3rem;
    height: 2.3rem;
}

.main-container
    .inventory-items-container
    .inventory-item
    .inventory-item-button-container
    .counter-input {
    border: none;
    height: 2.3rem;
    text-align: center;
}

.main-container
    .inventory-items-container
    .inventory-item
    .inventory-item-button-container
    .counter-input:focus {
    outline: none;
}

@media only screen and (min-width: 768px) {
    div.logo-container {
        width: fit-content;
    }

    /* div.logo-container div.logo-container-inner {
        width: 14rem;
        height: fit-content;
    } */

    header {
        position: relative;
        box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        z-index: 99;
    }

    header > .header-logo {
        width: fit-content;
        padding: 0.5rem;
    }

    div.sidebar {
        width: 20vw;
        box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        -moz-box-shadow: 0px 0px 2px 0px rgba(119, 119, 119, 0.75);
        z-index: 10;
    }

    main.main-container {
        width: 80vw;
        padding: 0;
    }

    .main-container .loans-content {
        margin-top: 0;
    }

    .main-container .inventory-items-container {
        width: 100%;
        margin-bottom: 0;
    }

    .main-container .loans-content .loans-button-filter_sort {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1rem;
    }

    .main-container .loans-content .filter-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .main-container .loans-content .filter-list .filter-list-item a {
        font-size: 1.2rem;
    }

    .main-container .loans-content .filter-list .filter-list-item:hover {
        background: #efefef;
        transition: 0.2s;
    }

    .main-container .loans-content .sort-list .sort-list-item a {
        font-size: 1.2rem;
    }

    .main-container .loans-content .sort-list .sort-list-item:hover {
        background: #efefef;
        transition: 0.2s;
    }

    .main-container .inventory-items-container .inventory-item {
        width: 20rem;
        height: 25rem;
        border-radius: 0.7rem;
    }

    .main-container .loan-button-container {
        position: relative;
    }

    .main-container
        .inventory-items-container
        .inventory-item
        .inventory-item-name-data
        > strong:nth-child(1) {
        font-size: clamp(0.5rem, 2vw, 1.5rem);
    }

    .main-container
        .inventory-items-container
        .inventory-item
        .inventory-item-qty-data
        > strong {
        font-size: clamp(0.5rem, 2vw, 1.5rem);
    }

    .main-container
        .inventory-items-container
        .inventory-item
        .inventory-item-button-container
        .inventory-item-button {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 1rem;
    }

    .main-container .confirmation-modal-container,
    .modal-detail-container {
        width: 80vw;
        padding: 8rem 3rem 0 3rem;
    }

    .main-container
        .modal-detail-container
        textarea.admin-retrieval-information {
        resize: none;
        width: 100%;
        padding: 0.3rem;
    }

    table.identity-table {
        width: 100%;
        height: 10rem;
        margin: 0 0 2rem 0;
    }

    table.identity-table tr td {
        padding: 0.5rem;
    }

    table.identity-table tr td:first-child {
        width: 15%;
    }

    table.identity-table tr td:last-child {
        width: 82%;
    }
    table.identity-table tr td:nth-child(2) {
        width: 3%;
    }

    table:not(.identity-table) {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        text-align: center;
    }

    table:not(.identity-table) thead tr:first-child th:first-child {
        border-top-left-radius: 1rem;
    }

    table:not(.identity-table) thead tr:first-child th:last-child {
        border-top-right-radius: 1rem;
    }

    table:not(.identity-table) thead tr th {
        background-color: #01305d;
        color: #fff;
        padding: 1rem;
    }

    table:not(.identity-table) tbody tr:nth-child(even) td {
        background-color: #e3f2f9;
        color: #001e3a;
        padding: 1rem;
    }

    table:not(.identity-table) tbody tr td {
        background-color: #ffffff;
        color: #001e3a;
        padding: 1rem;
    }

    .main-container
        .confirmation-modal-container
        .inventory-loans-table-container
        table.inventory-loans-table
        tbody
        tr
        td:last-child
        input[type="checkbox"].form-choose-input-loan {
        width: 1.3rem;
        height: 1.3rem;
        border: none;
        background-color: #fff;
    }

    .main-container .confirmation-modal-container .calendar-modal-container,
    .detail-modal-container {
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 99999;
        top: 0;
        left: 0;
    }

    .main-container
        .confirmation-modal-container
        .calendar-modal-container
        .calendar-container-inner {
        width: 40rem;
        height: 30rem;
    }

    .main-container
        .confirmation-modal-container
        .calendar-modal-container
        .calendar-container-inner
        .calendar-body-container
        .calendar
        .calendar-week,
    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        font-size: 1.3rem;
    }

    .detail-item-modal-container .detail-item-modal div.input-container,
    .confirmation-add-item-modal-container
        .confirmation-add-item-modal
        div.input-container {
        width: 45%;
        height: fit-content;
    }

    .detail-item-modal-container
        .detail-item-modal
        div.input-container
        > input {
        padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    }

    div.add-item-modal-container {
        width: 80vw;
        padding: 7rem 2rem 1rem 2rem;
    }

    .add-item-modal-container
        .add-item-modal
        form#add-item-form
        div.input-container
        > input {
        padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    }
}

/* Pelengkap Aja HEHE */

.sidebar-btn-rotate {
    rotate: 90deg;
    transition: linear 0.2s;
}

.sidebar-btn {
    transition: linear 0.2s;
}

.duration-300 {
    transition: linear 0.3s;
}

.hidden {
    opacity: 0;
}

.filter-list:hover {
    background: #d9d9d9;
    cursor: pointer;
}

.chevron-up-rotate {
    rotate: 180deg;
}

.line-1-rotate {
    rotate: 45deg;
}

.line-2-rotate {
    rotate: -45deg;
}

.form-choose-input-loan-active {
    outline: 1px solid #28a461;
}

.form-choose-input-loan-non-active {
    outline: 1px solid #ff0000;
}

p {
    padding: 0;
}
